<h2>About</h2>
<p>
  This application was built as part of the <a href="http://neo4j-challenge.herokuapp.com/">Neo4j Heroku Challange</a>. We would be really happy if you retweeted <a href="https://twitter.com/#!/simongate/status/174819556689317888">our initial tweet</a> and headed over to <a href="http://gensen.herokuapp.com/">Gensen</a> and rated our application. It is a proof of concept and it need more computation power to become a great user experience.
</p>
<p>
  The code is open source and is located over at <a href="https://github.com/simon/flattr-what">GitHub</a>.
</p>
<p>
  Currently the application is shit slow and the reason for that is that we don't want to pay anything over at <a href="http://heroku.com">Heroku</a>. But if we get enought flattrs we will move the scraping of the data to a web worker instead of running in out singe web thread.
</p>
  <p><a class="FlattrButton" style="display:none;"
      title="Flattr what?"
      data-flattr-uid="smgt"
      data-flattr-tags="opensource,software,neo4j,heroku,sinatra,ruby"
      data-flattr-category="software"
      href="https://github.com/simon/flattr-what">Flattr what?</a></p>
