<h1> Help us win the competition</h1>
<p>
  <ol>
    <li><h2>Send a <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://github.com/simon/flattr-what" data-text="I think 'Flattr what?' should win! RT=HUG!" data-via="simongate" data-size="large" data-related="qzio" data-hashtags="neo4jchallenge">Tweet</a><h2></li>
    <li><h2>Head over to <a href="http://gensen.herokuapp.com/show/30">Gensen</a> and rate flattr-what project.</h2></li>
  </ol>
  Thank you for you support!
</p>


<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
