<div class="row searchbox">
    <form method="post" action="/fetch/user" class="form-search">
      <input type="text" name="username" class="span5 search-query" placeholder="Enter a flattr username...">
      <!--<input type="checkbox" name="force_refresh">-->
      <button type="submit" class="btn">Find...</button>
    </form>
</div>
