<div class="row">
  <div class="span12">
    <form method="post" action="/fetch/user" class="well form-inline">

      <label>Username</label>
      <input type="text" name="username" class="span3" placeholder="Your username...">
      <div class="actions">
        <button type="submit" class="btn">Submit</button>
      </div>
    </form>


    <input type="text" name="foo"/>
  </div>

</div>
