<html>
  <head>
    <title>Flattr What?</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/application.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/application.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1><a href="/">Flattr What?</a><small>Get recommended what other things you might like on <a href="http://flattr.com">flattr.com</a></small></h1>
      </div>
      <%= yield %>
      <div class="container footer">
        <small>Made by <a href="http://github.com/simon">simon</a> and <a href="http://github.com/qzio">qzio</a>. The code is available over at <a href="https://github.com/simon/neo4j-challange">github</a>.</small>
      </div>
    </div>
  </body>
</html>
