<html>
  <head>
    <title>Flattr Neo4j</title>
    <!-- link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" -->
    <link rel="stylesheet" type="text/css" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/application.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <!--script type="text/javascript" src="/js/bootstrap.min.js"></script -->
    <script type="text/javascript" src="/js/application.js"></script>
  </head>
  <body>
    <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            <li></li>
            <li><a href="/">index</a></li>
          </ul>

        </div>
      </div>
    </header>
    <div class="container">
        <%= yield %>
    </div>
  </body>
</html>
