<html>
  <head>
    <title>Flattr What?</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/application.css">
    <link rel="shortcut icon" href="/img/favicon.ico"/>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/spin.min.js"></script>
    <script type="text/javascript" src="/js/application.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1><a href="/">Flattr What?</a><small>Get recommended what other things you might like on <a href="http://flattr.com">flattr.com</a></small></h1>
      </div>
      <%= yield %>
      <div class="container footer">
        <small>Made by <a href="http://github.com/simon">simon</a> and <a href="http://github.com/qzio">qzio</a>. The code is available over at <a href="https://github.com/simon/neo4j-challange">github</a>.</small>
      </div>
    </div>

    <div class="modal fade" id="myModal" style="display:none;">
      <div class="modal-body">
        <h2>Fetching information from cyperspace...</h2>
        <div class="modal-spinner">
        </div>
      </div>
    </div>
  </body>

  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
     var t   = document.createElement('script');
     t.type  = 'text/javascript';
     t.async = true;
     t.id    = 'gauges-tracker';
     t.setAttribute('data-site-id', '4f4e0849844d523803000163');
     t.src = '//secure.gaug.es/track.js';
     var s = document.getElementsByTagName('script')[0];
     s.parentNode.insertBefore(t, s);
     })();
</script>
</html>
