<h1>Scraping <%= username %></h1>
<p>
Since this is the first time someone have requested recommendations about <strong><%= username %></strong> we have nothing to show at the moment. But your request have started a scraping job fetching all information we can about <strong><%= username %></strong>. This usually takes 5min, so sit back and relax.
</p>
