/* body > .container { */
/*   padding-top: 60px; */
/* } */

/* h1 { */
/*   font-size: 4em; */
/* } */

input {
  height: 30px;
}

.footer,
.searchbox {
  text-align: center;
  margin-top: 3em;
}

.footer {
  color: #999;
}

.footer a {
  color: #999;
  text-decoration: underline;
}

.footer a:hover {
  color: #08c;
}

.modal-spinner {
  padding: 10em 0;
}
.spinner {
  width: 200px;
}

      .thing {
        margin: 5px;
        width: 240px;
        height: 240px;
        float: left;
        border: 1px solid #ddd;
      }
      .thing img {
      }
      .thing .img a {
      color: #eee;
      }
      .thing .img {
        position: relative;
      }

      .thing .info {
        background-color: #333;
        position: absolute;
        bottom: 3px;
        font-size: 14px;
        padding: 4px 5px;
        max-width: 160px;
      }

      .thing .image-wrapper {
        height: 240px;
      }

      #more,
      #no-more {
        clear:both;
        display:none;
        text-align: center;
        margin-top: 1em;
      }

      dl {
        padding: 0;
        margin: 0;
      }
      dl dd {
        padding: 0;
        margin: 0;
        font-size: 11px;
        color: #666;
        line-height: 20px;
      }
      .thing dt {
        font-size: 18px;
        font-weight: bold;
      }

em {
        font-family: 'Gentium Book Basic', serif;
        /*300 18px/24px "open sans";*/
        color: #aaa;
        font-size: 14px;
        font-weight: 300;
      }
      em a {
        color: #aaa;
      }
      em a:hover {
        color: #666;
      }
.FlattrButton {
        position: absolute;
        bottom: 3px;
        right: 3px;
      }
